body {
    margin: 0;
    overflow: hidden;
    cursor: url('assets/glass.png');
}

canvas {
    display: block;
    background-color: lawngreen;
}

#magnified {
    position: absolute;
    display: none;
    transform: translate(-50%, -50%);
    pointer-events: none;
}